
<input id="fbTemplate" type="hidden" value="{{org.survey}}"/>
<div class="render-form"></div>

<form role="form" method="POST">
    <input id="surveyResponses" type='hidden' name="surveyResponses" value=""/>
    <button type="submit" class="btn btn-primary btn-sm m-t-10 waves-effect btn-app-save">Apply</button>
</form>
