
<input id="fb-template" type="hidden" value="{{org.survey}}"/>

<form role="form" method="POST">
    <div class="fb-render"></div>
    <button type="submit" class="btn btn-primary btn-sm m-t-10 waves-effect btn-org-save">Apply</button>
</form>
