<div class="intro-message">
    <h1>{{org.name}}</h1>
    <h3>{{org.tagline}}</h3>
    <hr class="intro-divider">
    <ul class="list-inline intro-social-buttons">
        <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Apply with Twitter</span></a>
        </li>
        <li>
            <a href="/auth/facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Apply with Facebook</span></a>
        </li>
    </ul>
</div>
