<section id="content" class="content-alt">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Apply to {{org.name}}</h2>
            </div>

            <div class="card-body card-padding">
              {{>application-form}}
            </div>
        </div>
    </div>
</section>
